.about-me-container {
  display: flex;
  flex-direction: row;
  padding: 20rem 10rem 4.9rem 10rem;
  color: white;
  transition: all 0.5s;
  overflow: hidden;

  @media screen and (max-width: $tablet-land) {
    padding: 20rem 0 0 0;
    flex-direction: column;
    align-items: center;
    max-height: 30rem;

    &.expanded {
      max-height: 90rem;
    }
  }

  @media screen and (max-width: $phone){
    padding-bottom: 5rem;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    opacity: 0;
    transform: translateY(-2rem);
    transition: all 0.5s 0.2s;

    &.active {
      opacity: 1;
      transform: translateY(0rem);
    }

    @media screen and (max-width: $tablet-land) {
      justify-content: center;
      text-align: center;
    }

    .main-header-container {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $tablet-land) {
        justify-content: center;
        text-align: center;
      }

      .headers {
        .title {
          font-size: 3.5rem;
          font-weight: lighter;
        }
      
        .sub-title {
          font-size: 3rem;
          font-weight: lighter;
        }
      }
    }
  
    .links {
      font-size: 3rem;

      a {
        text-decoration: none;
        color: white;
        transition: color 0.2s ease;

        .fab {
          padding-right: 1rem;
        }

        &:hover {
          color: #c96537;
        }
      }
    }

    .expand-button-wrapper {
      display: flex;
      align-items: center;
      transition: all 0.5s ease-in-out;
      padding-left: 2rem;

      @media screen and (max-width: $tablet-land){
        padding: 0;
        justify-content: center;
      }

      .fas {
        cursor: pointer;
        font-size: 5rem;
        transition: color 0.2s ease-in-out;

        &:hover{
          color: #c96537;
        }
      }

      &.slide-out {
        transform: translateX(2rem);
        opacity: 0;
        pointer-events: none;
      }

      &.slide-down {
        transform: translateY(2rem);
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .expanded-container {
    display: flex;
    width: 100%;

    .expanded-intro-container {
      display: flex;
      flex-direction: row;
      opacity: 0;
      pointer-events: none;
      padding: 0 2rem;

      &.slide-in {
        transition-delay: 0.7s;
        transition-property: all;
        transition-duration: 0.5s;
        transform: translateX(-2rem);
        opacity: 1;
        pointer-events: all;
        width: auto;
      }

      &.slide-down {
        transition-delay: 0.7s;
        transition-property: all;
        transition-duration: 0.5s;
        transform: translateY(2rem);
        opacity: 1;
        pointer-events: all;
        width: auto;
        flex-direction: column;
      }

      .intro {
        font-size: 1.5rem;
        font-weight: lighter;
        width: 100%;
        padding-right: 2.5rem;

        @media screen and (max-width: $tablet-land){
          padding-bottom: 2rem;
        }
      }

      .skill-level-container {
        width: 100%;

        @media screen and (max-width: $tablet-land){
          padding-bottom: 5rem;
        }

        .skill-container {
          display: flex;
          flex-direction: column;

          .skill-name {
            font-size: 1.5rem;
            font-weight: lighter;
          }

          .bar {
            display: flex;
            padding-bottom: 1rem;

            .filled {
              width: 0%;
              height: 2px;
              background-color: #c96537;
              transition-delay: 1s;
              transition-property: width;
              transition-duration: 1s;
            }

            .unfilled {
              width: 100%;
              height: 2px;
              background-color: #111111;
            }
          }
        }
      }
    }
  }
}